body {
  background-color: black;
}

.center {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 30px;
  text-align: center;
}

.buttons * {
  margin: 15px;
  font-size: 20px;
}